Repository rasmushaa/metrics-toolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-python-badge, run-example-notebooks

update-python-badge:
  name: Update Python Version Badge
  entry: uv run python scripts/update_python_badge.py
  language: system
  pass_filenames: false

run-example-notebooks:
  name: Run Example Notebooks
  entry: uv run python scripts/run_examples.py
  language: system
  pass_filenames: false

Update metrics path names, Update precisions to use one hot encode directly
  examples/usecases.ipynb
  metrics_toolbox/metrics/classification/__init__.py
  metrics_toolbox/metrics/classification/accuracy.py
  metrics_toolbox/metrics/classification/precision_macro.py
  metrics_toolbox/metrics/classification/precision_micro.py
  metrics_toolbox/metrics/classification/precision_target.py
  metrics_toolbox/metrics/probability/__init__.py
  metrics_toolbox/metrics/probability/roc_auc_macro.py
  metrics_toolbox/metrics/probability/roc_auc_micro.py
  metrics_toolbox/metrics/probability/roc_auc_target.py
  metrics_toolbox/metrics/registry.py
  tests/metrics/test_accuracy.py
  tests/metrics/test_precision.py
  tests/metrics/test_roc_auc.py
  tests/test_evaluator.py
Due: run-example-notebooks

Add F1 score, Add Recall
  README.md
  metrics_toolbox/metrics/classification/f1_score_macro.py
  metrics_toolbox/metrics/classification/f1_score_micro.py
  metrics_toolbox/metrics/classification/f1_score_target.py
  metrics_toolbox/metrics/classification/precision_macro.py
  metrics_toolbox/metrics/classification/recall_macro.py
  metrics_toolbox/metrics/classification/recall_micro.py
  metrics_toolbox/metrics/classification/recall_target.py
  metrics_toolbox/metrics/registry.py
  tests/metrics/test_f1_score.py
  tests/metrics/test_recall.py
  tests/test_evaluator.py
Due: update-python-badge, run-example-notebooks

Add examples for Recall, Precision
  README.md
  examples/binary_classification.ipynb
  examples/usecases.ipynb
  metrics_toolbox/metrics/registry.py
Due: update-python-badge, run-example-notebooks

Add MSE, and RMSE regression metrics
  README.md
  examples/help.ipynb
  examples/multiclass_classification.ipynb
  metrics_toolbox/__init__.py
  metrics_toolbox/encoding.py
  metrics_toolbox/metrics/enums.py
  metrics_toolbox/metrics/registry.py
  metrics_toolbox/metrics/regression/__init__.py
  metrics_toolbox/metrics/regression/mse_macro.py
  metrics_toolbox/metrics/regression/mse_target.py
  metrics_toolbox/metrics/regression/rmse_macro.py
  metrics_toolbox/metrics/regression/rmse_target.py
  metrics_toolbox/metrics/results.py
  tests/metrics/test_mse.py
Due: update-python-badge, run-example-notebooks

Add regression plot, Add regression to Evaluator, Add regression example
  .pre-commit-config.yaml
  README.md
  examples/regression.ipynb
  metrics_toolbox/evaluator.py
  metrics_toolbox/metrics/regression/mse_target.py
  metrics_toolbox/metrics/regression/rmse_target.py
  metrics_toolbox/plots.py
  tests/metrics/test_mse.py
  tests/test_examples.py
Due: update-python-badge, run-example-notebooks

Add custom example
  .pre-commit-config.yaml
  README.md
  examples/custom.ipynb
  examples/regression.ipynb
  metrics_toolbox/plots.py
Due: update-python-badge, run-example-notebooks

Add test publish
  README.md
  examples/regression.ipynb
  pyproject.toml
  scripts/publish_to_test_pypi.sh
Due: update-python-badge, run-example-notebooks

Add Evaluator test for Regressions
  tests/test_evaluator.py
Due: none

Update Builder from dict notation
  examples/builder.ipynb
  metrics_toolbox/builder.py
  tests/test_builder.py
Due: run-example-notebooks

Add automatic dev suffix to test deployment
  README.md
  pyproject.toml.dev
  scripts/publish_to_test_pypi.sh
Due: update-python-badge

Remove Metrics options, replace those with opt_<x> metadata
  README.md
  examples/builder.ipynb
  metrics_toolbox/evaluator.py
  metrics_toolbox/metrics/classification/accuracy.py
  metrics_toolbox/metrics/probability/roc_auc_target.py
  metrics_toolbox/metrics/regression/mse_target.py
  metrics_toolbox/metrics/regression/rmse_target.py
  metrics_toolbox/metrics/results.py
  metrics_toolbox/plots.py
  tests/metrics/test_accuracy.py
  tests/metrics/test_mse.py
Due: update-python-badge, run-example-notebooks

Add dynamic scaling for confusion plot for large class clount
  examples/binary_classification.ipynb
  metrics_toolbox/plots.py
Due: run-example-notebooks

Add flip confusion string labels 90
  examples/binary_classification.ipynb
  metrics_toolbox/plots.py
Due: run-example-notebooks

Incease confusion plot size on large class numbers
  metrics_toolbox/plots.py
  pyproject.toml.dev
Due: run-example-notebooks

Add release pipelines
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  pyproject.toml.dev
  scripts/publish_to_test_pypi.sh
Due: none

Update changelog check pipeline
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
  README.md
Due: update-python-badge

Remove test run on main
  .github/workflows/test.yaml
Due: none

Revert tests on main
  .github/workflows/test.yaml
Due: none

Move tags from pipeline to manaul pushes to main
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  README.md
Due: update-python-badge

Fix twine command
  .github/workflows/publish.yaml
Due: none

Add hook for readme header version
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  scripts/update_readme_version.py
Due: update-python-badge

Add examples to readme
  README.md
Due: update-python-badge

Update ongoing readme
  CHANGELOG.md
Due: none

Add lowest test back to the lates python
  .github/workflows/test.yaml
  pyproject.toml
  scripts/test_lowest.sh
Due: update-python-badge

Update version, Update change log, Add validation for the lowest matrix test, Add reqs to hooks
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  pyproject.toml
  scripts/update_readme.py
Due: update-python-badge

Fix the lowest dep matrix validation
  .github/workflows/test.yaml
Due: none

Update readme matrix test describtion, Update test deployment
  README.md
  pyproject.toml.dev
  scripts/publish_to_test_pypi.sh
Due: update-python-badge

Change codecov to update only on merges to main
  .github/workflows/test.yaml
Due: none

Fix the codecov devops validation
  .github/workflows/test.yaml
Due: none

Path conditions:
  update-python-badge: any of: ^(pyproject\.toml|README\.md)$
  run-example-notebooks: any of: ^(metrics_toolbox|examples)/.*\.(py|ipynb)$
